/*==
https://mizzle.webestica.com/ 
== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: #f5f5f5; */
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main {
    position: relative;
}

#header {
    width: 100%;
    height: 80px;
    /* background-color: rgba(130, 127, 127, 0.132); */
    padding: 0 80px;
    border-bottom: 1px solid #d5d5d56b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}

nav ul li a {
    color: #4f4e4edc;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #1aab52;
}

nav ul li a+i {
    display: inline-block;
    transition: all 0.3s ease;
}

nav ul li:hover>i {
    color: #1aab52;
    /* background-color: red; */
    rotate: 180deg;
}

nav .nav-right {
    display: flex;
}

nav .nav-right a {
    font-family: "Poppins", sans-serif;
    color: #282727dc;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav-right span:nth-child(2) a {
    font-weight: 400;
    color: #1c1c1c;
    font-size: 15px;
    margin: 5px;
}

.nav-right span:nth-child(2) a:hover {
    border-radius: 5px;
    color: #313131;
    background-color: #7b7b7b2d;
}

.nav-right span:nth-child(3) a {
    background-color: #30B850;
    color: #fff;
    border-radius: 5px;
    padding: 8px 10px;
}

.nav-right span:nth-child(3) a:hover {
    background-color: #179246;
    color: #fff;
}

nav .nav-right a:hover {
    color: #1aab52;
}

nav ul li {
    position: relative;
}

nav ul li ul.dropdown {
    position: absolute;
    display: flex;
    z-index: 5;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: auto;
    padding: 15px 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #8e8e8e68;
    transition: all 0.3s ease;
    gap: 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    border-radius: 10px;
}

nav ul.navmenu > li:hover > ul.dropdown:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #afaeae3b;
}

nav ul li:hover ul.dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown li a {
    color: #2b2c2b;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 5px;
    transition: all 0.3s ease;
}

.dropdown li:hover {
    background-color: #aefccc18;
}

.dropdown li:hover a {
    color: #1aab52;
}

.nav-right span:nth-child(4) {
    display: inline-block;
    display: none;
}

.dropdown-2{
    position: relative;
}
.dropdown-2 .child-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-40%);
    gap: 0;
    min-width: 900px;
    height: fit-content;
    margin-top: 30px;
    height: auto;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid #8e8e8e68; */
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 2rem;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.dropdown-2:hover .child-menu {
    visibility: visible;
    opacity: 1;
}
.dropdown-2 .child-menu:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c4c3c33b;
}

@media screen and (max-width: 1200px) {
    .dropdown-2 .child-menu {
        transform: translateX(-32%);
    }
    
}

.child-menu .img-text {
    /* background-color: rgb(245, 175, 175); */
    width: 33%;
    border-radius: 10px;
    /* border: 1px solid #8e8e8e68; */
    overflow: hidden;

}

.child-menu .inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    width: 33%;
    border-left: 2px solid #8e8e8e30;
    margin: 5px;
}

.child-menu .inner li {
    width: 100%;
}

.img-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-text .img-content {
    padding: 10px;
}

.img-content h6 {
    font-size: 16px;
    font-weight: 500;
    color: #1c1c1c;
}

.img-content p {
    font-size: 13px;
    font-weight: 300;
    color: #3e3e3ebb;
}

.img-content p+a {
    padding: 0;
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    color: #1aab52;
    transition: all 0.5s ease;
}

.img-content p+a i {
    transition: all 0.5s ease;
}

.img-content p+a:hover i {
    display: inline-block;
    transform: translateX(6px);
    transition: all 0.5s ease;
}

li .dropdown-mega {
    position: absolute;
    display: flex;
    z-index: 5;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 900px;
    height: auto;
    padding: 15px 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #8e8e8e68;
    transition: all 0.3s ease;
    gap: 0;
    /* visibility: hidden; */
    /* opacity: 0; */
    margin-top: 20px;
    border-radius: 10px;
}

li .dropdown-mega:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1717171b;
}


@media screen and (max-width: 600px) {
    #header {
        padding: 0 20px;
    }

    nav img {
        width: 100px;
    }

    nav ul {
        display: none;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .nav-right span:nth-child(1),
    .nav-right span:nth-child(3) {
        display: none;
    }

    .nav-right span:nth-child(4) {
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        font-weight: 800;
    }
}

@media screen and (max-width: 900px) {
    #header {
        padding: 0 20px;
    }

    nav img {
        width: 130px;
    }

    nav ul {
        display: none;
    }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .nav-right span:nth-child(1),
    .nav-right span:nth-child(3) {
        display: none;
    }

    .nav-right span:nth-child(4) {
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        font-weight: 800;
    }
}
@media screen and (max-width: 1200px) {
    #header {
        padding: 0 20px;
    }

    nav img {
        width: 130px;
    }
    nav > ul li{
        display: flex;
        align-items: center;
    }
    nav ul li a{
        font-size: 14px;
        padding: 5px ;
    }
    nav ul li a + i{
        color: #1aab52;
    }
     nav > ul{
        gap: 10px;
     }

    .nav-right {
        display: flex;
        align-items: center;
    }

    .nav-right span:nth-child(1),
    .nav-right span:nth-child(3) {
        display: inline-block;
    }

    .nav-right span:nth-child(4) {
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        font-weight: 800;
        visibility: hidden;
    }
}

.dropdown3{
    position: relative;
}
.dropdown-3 .dropdown3-menu{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 1200px;
    height: auto;
    padding: 15px 10px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #8e8e8e68;
    transition: all 0.3s ease;
    gap: 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
    border-radius: 10px;
}
.dropdown-3:hover .dropdown3-menu{
    visibility: visible;
    opacity: 1;
}
/* .dropdown-3 .dropdown3-menu.show{
    visibility: visible;
    opacity: 1;
} */

/* .dropdown-3 .dropdown3-menu:before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1717171b;
} */
.dropdown3-menu .row{
    display: flex;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.dropdown3-menu .row .col-md-6{
    width: 25%;
}
.col-md-6 ul.list-unstyled{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(244, 163, 163); */
    gap: 5px;
    
}
.dropdown-header{
 margin-bottom: 10px;
 font-size: 16px;
 font-weight: 600;
}
ul.list-unstyled li{
    padding: 7px 4px;    
    line-height: 1;  
    transition: all 0.6s ease;
}
ul.list-unstyled li:not(:first-child):hover{
    background-color: #c8ecc44d;
}

ul.list-unstyled li a{
    display: block;   
    font-size: 15px;
    font-weight: 500;
}
.dp-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.col-md-6 .dropdown-item3{
    /* background-color:rgb(255, 184, 184);  */
    display: flex;
    gap: 10px;
    padding: 10px;  
    border-radius: 4px;
    transition: all 0.3s ease;
}
.col-md-6 .dropdown-item3:hover{
    background-color: #37373710;
}
.col-md-6 .dropdown-item3 .icon-md{
    width:70px;
    height:70px;  
    object-fit: cover;   
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
.col-md-6 .dropdown-item3 .icon-md i{
    margin-top: 5px;
    height: 70%;
    width: 100%;
    font-size: 18px;
    padding: 5px 15px;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.dropdown-item3 .badge {
        background-color: #1aab52;
        color: #fff;
        padding: 5px 8px;
        font-size: 10px;
        border-radius: 5px;
        margin-left: 5px;
}
.dropdown-item3 .icon-md + div a{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #1d1d1de2;
    font-weight: 500;
}
.dropdown-item3 .icon-md + div a:hover{
    color: #1aab52;
    /* background-color: red; */
}
.dropdown-item3 .icon-md + div a + p{
    margin-top: 3px;
    font-size: 12px;
   color: #525252d3;
   line-height: 1.3;
}
ul.dp-item-3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
ul.dp-item-3 li  {    
    display: inline-block;
    /* padding: 10px ; */
    /* background-color: rgb(220, 116, 116); */
}
ul.dp-item-3 li > a{
    display: inline-block;
    padding: 15px !important;
    /* background-color: red; */
    transition: all 0.3s ease;
    border-radius: 10px;
}

ul.dp-item-3 li a:hover{    
    background-color: #37373710;
}

ul.dp-item-3 li a.dropdown3-item{    
    display: flex;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    margin: 15px 0;
    
}
ul.dp-item-3 li a.dropdown3-item:hover i{
    transform: translateX(5px);
}
ul.dp-item-3 li a.dropdown3-item span:nth-child(2){
    /* background-color: red; */   
    width: 90%;
    font-size: 14px;
    font-weight:600;
    color: #383838;
    padding-left: 10px;
}
ul.dp-item-3 li a.dropdown3-item i {
    text-align: right;
    /* background-color: red; */
    transition: all 0.3s ease;
}
.dropdown3-item img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
ul.dp-item-3 li a.dropdown3-item +  a.btn{
   display: inline-block;
   width: 100%;
   background-color: #8c8c8c14;
   color: #24242492;
   text-align: center;
   font-size: 14px;
   padding: 10px 0 !important;
   border-radius: 5px;
   transition: all 0.3s ease;
}
ul.dp-item-3 li a.dropdown3-item +  a.btn:hover{
    background-color: #3737371e;
     color: #242424bb;
}

.dp-item-4 >* {
    margin: 15px 0;
}
.dp-item-4 .dropdown4-item{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.dp-item-4 .dropdown4-item:hover{
    background-color: #37373710;
}
.dropdown4-item img{
    width: 60px; 
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}
.dropdown4-item img + p{
    line-height: 1.3;
}
.dropdown4-item img + p a{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
   
}
@media screen and (max-width: 1400px){
    .dropdown-3 .dropdown3-menu{
        transform: translateX(-45%);
       min-width: 1000px;
    }
}
@media screen and (max-width: 1100px){
    .dropdown-3 .dropdown3-menu{
        transform: translateX(-42%);  
        min-width: 850px;  
        align-items: center;  
        flex-wrap: wrap;
    }

}

.page1 {
    /* display: none; */
    margin-top: -80px;
    width: 100%;
    height: calc(100vh - 90px);
    /* background-color: #1d1d1d; */
    /* color: #fff; */
    padding: 8rem 3rem;
}

.page1 p {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    /* font-size: 1.2rem; */
}


.footer{
    height: auto;
    width: 100%;
    background-color: #202124;
}
.container{
    padding: 4rem 6rem;
    margin: 0 auto;
    width: 85%;
}

.f-part1{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 86%;   
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #1E3129;
}
.f-part1 h3{
    font-size: 3rem;
    color: #f3f3f3;     
}

.f-part1 button{   
    width: 100%;
    height: fit-content;
    background-color: #1E3129;
    color: #fff;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    transition: all 0.3s ease;  
    cursor: pointer;
    font-size: 17px; 
    color: #1fbf5c;
    font-weight: 500;
}
.f-part1 button:hover{
    color: #fff;
    background-color: #30B850;
}
.f-part1 button i{
    display: inline-block;
    transition: all 0.3s ease; 
}
.f-part1 button:hover i{    
    transform: translateX(5px);
}
.f-part2{
    padding: 3rem 0 0 0;
    /* background-color: red; */
    /* height: 40vh; */
    display: flex;
    margin-bottom: 25px;
}
.f-content{
    /* background-color: rgb(190, 190, 210); */
    width: 70%;
    display: flex;
    gap:8%;
    color: #e9e7e7;
}
.f-subscribe{
    width: 30%;
    /* background-color: red; */
    /* height: 40vh; */
}
.col h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family:"Poppins", sans-serif;
    color: #fff;
}
.col ul li .badge{
    background-color: rgb(182, 40, 40);
    color: #fff;
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}
.col li a, .col li {
    color: #fdfdfdbb;
    font-size: 15px;
    font-family:"Poppins", sans-serif;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    font-weight: 400;
}
.col li a:hover{
    color: #1fbf5c;
}
.col .contact li i{
   
    display: inline-block;
    color: #1aab52;
}
.col .contact li {    
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.col img{
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}

.col .social li a{
    display: inline-block;
    width:35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col .social li a:hover{
    color: #fff;
}
.col .social li a i{
    font-size: 13px;
    padding: 10px; 

}
.col .social {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.bg-facebook{
    background-color: #3b5998;
}
.bg-instagram{
    background-color: #c13584;
}
.bg-twitter{
    background-color: #1da1f2;
}
.bg-linkedin{
    background-color: #0077b5;
}
.bg-youtube{
    background-color: #ff0000;
}

/* .col li > span{
    display: inline-block;
} */

.f-part3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    width: 88%;
    border-top: 1px solid #8e8e8e30;
}
.f-part3 img{
    width: 120px;
    height: 100%;
    object-fit: cover;
}
.f-part3 p{
    color: #cecaca;
    font-size: 16px;
    font-weight: 400;
    font-family:"Poppins", sans-serif;
}